<h1>Flights</h1>

<%= form_with url: :root, method: :get do |form| %>
  <%= form.label :departure_airport_code, "Departure" %>
  <%= select_tag(:departure_airport_code, options_for_select(@airports)) %>
  <%= form.label :arrival_airport_code, "Arrival" %>
  <%= select_tag(:arrival_airport_code, options_for_select(@airports)) %>
  <%= form.label :start, "Departure Date [M/D/Y]" %>
  <%= select_tag :date, options_from_collection_for_select(Flight.get_flight_dates, :start_stripped, :flight_date_formatted) %>
  <%= form.label :num_tickets, "Passengers" %>
  <%= select_tag(:num_passengers, options_for_select([1, 2, 3, 4])) %>
  <%= form.submit "Search" %>
<% end %>

<% if !@correct_time_flights.empty? %>

  <%= form_with url: "bookings#new", method: :get do |form| %>
    <%= form.hidden_field :num_passengers, value: params[:num_passengers] %>
    <%= form.collection_radio_buttons :flight_id,
      @correct_time_flights, :id, :id_and_duration %>
    <%= form.submit "Start Your Journey!" %>
  <% end %>
<% end %>